[user]
    email = crislgf1@gmail.com
    name = Cristian Guilarte
[core]
    editor = nvim
    excludesfile = ~/.gitignore
    attributesfile = ~/.gitattributes
    whitespace = space-before-tab,-indent-with-non-tab,trailing-space
    trustctime = false
    precomposeunicode = false
    untrackedCache = true
[color]
    ui = auto
[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green
[color "diff"]
    meta = yellow bold
    frag = magenta bold # line info
    old = red # deletions
    new = green # additions
[color "status"]
    added = yellow
    changed = green
    untracked = cyan
[alias]
    l = log --graph --pretty=format:'%Creset %Creset - %Cred%h%Creset %C(bold blue)%an%C(reset) %Cgreen(%cr)%Creset - %s - %Creset %C(yellow)%d' --abbrev-commit --date=relative
    s = status -s --ignored -M --show-stash --untracked-files --branch
    d = !"git diff-index --quiet HEAD -- || clear; git --no-pager diff --patch-with-stat"
    ca = !git add -A && git commit -av
    go = "!f() { git checkout -b \"$1\" 2> /dev/null || git checkout \"$1\"; }; f"
    tags = tag -l
    branches = branch --all
    remotes = remote --verbose
    aliases = config --get-regexp alias
    amend = commit --amend --reuse-message=HEAD
    review = "!git log --no-merges --pretty=%an | head -n 100 | sort | uniq -c | sort -nr"
    cbr = rev-parse --abbrev-ref HEAD
    undo = reset --soft HEAD~1
[apply]
    whitespace = fix
[branch]
    sort = -committerdate
#[commit]
    #gpgsign = true
[diff]
    renames = copies
[diff "bin"]
    textconv = hexdump -v -C
[help]
    autocorrect = 1
[merge]
    log = true
[push]
    default = simple
    followTags = true
[init]
    defaultBranch = main
